html {
    font-size: 16px;
}

body {
    background-color: #0a192f;
    color: #8892b0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1rem;
}



.raiden {
    position: fixed;
    z-index: -2;
    top: 0;
    right: 80;
    opacity: 0.2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}

.loading-placeholder {
    text-align: center;
    padding: 50px;
    font-size: 1.2rem;
    color: #64ffda;
}


#chapter-title {
    color: #ccd6f6;
    border-bottom: 2px solid #233554;
    padding-bottom: 10px;
    font-size: 1.8rem;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.nav-button {
    background-color: #233554;
    color: #e6f1ff;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #303c55;
    color: #64ffda;
}

.nav-button:disabled {
    background-color: #303c55;
    color: #8892b0;
    pointer-events: none;
    cursor: not-allowed;
}

.chapter-info {
    background-color: #112240;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    border-left: 4px solid #64ffda;
    font-size: 0.95rem;
}

.chapter-info p {
    margin: 5px 0;
    color: #a8b2d1;
}

.chapter-info p {
    color: #ccd6f6;
}

#chapter-images {
    margin-top: 20px;
}

#chapter-images img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0px;
    background-color: #233554;
}

.additional-info {
    background-color: transparent;
    border-top: 1px solid #233554;
    padding-top: 15px;
    margin-top: 20px;
    color: #8892b0;
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }

    h1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 1.4rem;
    }

    .container {
        padding: 0 10px;
    }

    .nav-button {
        padding: 8px 10px;
        font-size: 0.85rem;
    }

    .chapter-info {
        padding: 15px;
        font-size: 0.9rem;
    }
}